.guide-index{
    width: 100xw;
    height:100vh;
    position: relative;

    img{
        width: 100%;
        height: 100%;
        
    }
    .guide-loop{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 1rem;
        margin: auto;
        width: 2rem;
        border: 1px solid #666;
        height: .5rem;
        text-align: center;
        line-height: .5rem;
        color:#666;
        
    }
    .guide-time{
        position: absolute;
        right: .6rem;
        top: 1rem;
        width: 1rem;
        color:#666;
        border: 1px solid #666;
        text-align: center;
        line-height: .5rem;
        height: .5rem;

    }

}